html,
body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  font-family: 'Share Tech', sans-serif;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  text: bold;
}

.tags {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 10px;
}

.tags h3 {
  display: inline-flex;
  text-align: center;
  margin: 0 30px;
  margin-top: 30px;
}

.start-div {
  text-align: center;
  width: 800px;
  height: 600px;
  color: white;
  background-image: url(../img/space-background.webp);
  background-size: cover;
  border: black solid 3px;
  margin: 110px auto 0;
  repeat: none;

}



.start-title {
  font-size: 25px;
  margin: 40% auto 50% auto;
}

.start-title h3 {
  font-size: 25px;
}

.start-button {
  background-color: #8dff75;
  border-radius: 50px;
  margin: 0 35%;
}

.start-button:hover {
  font-size: 35px;
  transition: .30s;
}

canvas {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #212121;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  margin-bottom: 35px;
}

#bg-canvas {
  z-index: 0;
}

#fg-canvas {
  z-index: 1;
}
